* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(72, 175, 175);
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

h1 {
    color: aliceblue;
    margin-bottom: 5rem;
    font-size: 5.4rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    align-items: center;
}

.hidden {
    display: none;
}

/*Button Behavior */
.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: aliceblue;
    border-radius: 25px;
    background: linear-gradient(50deg, rgb(112, 128, 144), 0%, rgb(169, 173, 177) 100%);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(3, 248, 248);
    transition: transform 180ms;
    transform: scale(1.10);
}

/* Loader styling (Based on youtube video & w3school)*/

#loading {
    position: absolute;
    height: 0rem;
    top: 35rem;
    left: 22rem;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
}

.bars {
    height: 6rem;
    width: 0.7rem;
    margin: 0 0.4rem;
    border-radius: 1rem;
    background-color: aliceblue;
    animation: loading 0.9s infinite;
}

.bars:nth-child(2) {
    animation-delay: 0.1s;
}

.bars:nth-child(3) {
    animation-delay: 0.2s;
}

.bars:nth-child(4) {
    animation-delay: 0.3s;
}

.bars:nth-child(5) {
    animation-delay: 0.4s;
}

.bars:nth-child(6) {
    animation-delay: 0.5s;
}

.bars:nth-child(7) {
    animation-delay: 0.6s;
}

.bars:nth-child(8) {
    animation-delay: 0.7s;
}

@keyframes loading {
    0% {
        height: 0;
    }

    50% {
        height: 50px;
    }

    100% {
        height: 0;
    }
}

.social-icons {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: aliceblue;

}

.fa-crown {
    background: rgb(169, 173, 177);
    font-size: 2.5rem;
    margin-left: 0.5rem;
}

/*For High Score page */
h1 .fa-crown {
    background: rgb(72, 175, 175);
    font-size: 5rem;
    margin-left: 0.5rem;
}